:root{
  --primary-color: #278C67;
  --secondary-color: #45BF86;
  --third-color: #1E342D;
  --complementary-color: #D7D9D8;
  --neutral-color: #ffffff;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
