:root{
  --primary-color: #00968a;
  --secondary-color: #f2a384;
  --third-color: #39d2c0;
  --complementary-color: #dbe2e7;
  --neutral-color: #ffffff;
}

body{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
