.graficoContainer {
  width: 60%;
  padding: 2rem;
  background-color: #ffffff;
  height: 400px; 
  display: flex;
  justify-content: flex-start; 
}

.yAxisLabel {
  text-anchor: middle;
  color: #000;
  font-size: 14px;
  font-family: Montserrat;
  fill: #000;
}

.axisText {
  font-family: "Montserrat", sans-serif;
  fill: black; 
}

.barLabel {
  font-family: "Montserrat", sans-serif;
  fill: black; 
}

